<div class="col-md-10">
  <h3><%= t(:carousel_list) %></h3>
</div>
<div class="col-md-2">
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th><%= Carousel.human_attribute_name(:first) %></th>
        <th><%= Carousel.human_attribute_name(:second) %></th>
        <th><%= Carousel.human_attribute_name(:third) %></th>
        <th colspan="2"><%= t(:operations) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @carousels %>
    </tbody>
  </table>
</div>
