<div class="col-md-10">
  <h3><%= t(:user_list) %></h3>
</div>
<div class="col-md-2">
  <%= link_to t(:new_user), new_user_path, class: "btn btn-danger" %>
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:id) %></th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:cell) %></th>
        <th colspan="1"><%= t(:operations) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
