<tr>
  <td><%= admin.id %></td>
  <td><%= admin.name %></td>
  <td><%= I18n.l(admin.created_at) %></td>
  <td><%= I18n.l(admin.updated_at) %></td>
  <td><%= link_to t(:edit), edit_admin_admin_path(admin) %></td>
</tr>
